<div class="index">
  {{#if connected}}
  You are connected!

  {{link-to "Requests Bot" "bots.requests"}}
  {{else}}

  {{#if connecting}}
  Connecting...
  {{else}}
  <div>
  bot user:
  {{input value=username}}
  </div>

  <div>
  oauth:
  {{input value=oauth}}
  Visit http://www.twitchapps.com/tmi/
  </div>

  <div>
  channel:
  {{input value=channel}}
  </div>

  <a href="#" {{action "connect"}}>Connect</a>
  {{/if}}
  {{/if}}
</div>
